body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #201e1e;
    color: #ffffff;

}

.nav-link.active
{
    background-color: black;
}

.container
{
    color: rgb(0, 255, 255);
    border-radius: 50px,50px,50px,50px;

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
    background-color: #000000;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #8a848a;
    --bs-nav-link-hover-color: #f8f8f6;
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #a19a9a;
    --bs-btn-border-color: #201e1e;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #eebb00;
    --bs-btn-hover-border-color: #eebb00;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.form-floating>label
{
    color: #595c5f
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: 30%;
    margin-left: 30%;
}